<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">

      <div class="row">
        <div class="col l12">

          <h1><%= title %></h1>
          <p>Welcome to <%= title %></p>

          <div class="sticky default">

            <div class="note">
              <h1>Shopping list:</h1>
              Chips<br>
              Pace picante sauce<br>
              Seven layer dip<br>
              Cough drops
            </div>

          </div>

        </div>
      </div>

    </div>
  </body>
</html>
